# Collecting Data From the QS University Rankings Website

Before extracting the target data, I use this notebook to practice the use of a hidden API in the QS University Rankings website, that way guaging the functionality.

## Import Packages

In [22]:
# Web - Scraping and API Requests
import requests


# Data Manipulation and Analysis
import pandas as pd
from pprint import pprint 
import json

# Database Connection
from sqlalchemy import create_engine

# File and System Operations
import os
import sys

## Set Up An Initial Request Based on the Default/Raw Endpoint

In [5]:


url = "https://www.topuniversities.com/rankings/endpoint?nid=3897789&page=0&items_per_page=30&tab=indicators&region=&countries=&cities=&search=&star=&sort_by=rank&order_by=asc&program_type=&scholarship=&fee=&english_score=&academic_score=&mix_student=&loggedincache="

payload = {}
headers = {
  'accept': '*/*',
  'accept-language': 'en-US,en;q=0.9',
  'if-none-match': 'W/"1749837588"',
  'priority': 'u=1, i',
  'referer': 'https://www.topuniversities.com/world-university-rankings/2024?sort_by=rank&order_by=asc',
  'sec-ch-ua': '"Google Chrome";v="137", "Chromium";v="137", "Not/A)Brand";v="24"',
  'sec-ch-ua-mobile': '?0',
  'sec-ch-ua-platform': '"Windows"',
  'sec-fetch-dest': 'empty',
  'sec-fetch-mode': 'cors',
  'sec-fetch-site': 'same-origin',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36',
  'x-requested-with': 'XMLHttpRequest',
  'Cookie': 'STYXKEY-testi-loc=GB; STYXKEY-testi-loc_name=United%20Kingdom; FPID=FPID2.2.WC8LJ2I3yYBvpZyM0VKzYsQHzSQsQa3BrdoSk3rg2RU%3D.1749578131; cookie-agreed-version=1.0.0; cookie-agreed-categories=[%22necessary%22%2C%22analytics%22]; cookie-agreed=2; _hjSessionUser_173635=eyJpZCI6ImIyMTliODY3LTM3YmMtNTUxNy1iMDZlLTFhMmRmMmQyMmU5NiIsImNyZWF0ZWQiOjE3NDk1NzgyNTg2ODMsImV4aXN0aW5nIjp0cnVlfQ==; _cfuvid=wx.E4XqGoDisDc39JELN4zvF_Asi0nVxgbek_nfMpuA-1749835251386-0.0.1.1-604800000; STYXKEY-globaluserUUID=TU-1749835256398-84716957; STYXKEY-last_univ_page_datalayer={"event":"sign_up","university_name":"Yale University","university_type":"basic","university_international_students":"3528","university_ratio":"2","university_research":"Very High","university_scholarships":"yes","university_size":"L","university_status":"Private","university_tuition":"n/a","university_page_type":"Main Profile","university_category":"Primary","university_program_name":"Main Profile"}; _ga_5D0D56Z1Z9=GS2.1.s1749835413$o1$g0$t1749835424$j49$l0$h0; STYXKEY_current_pageURL=https%3A%2F%2Fwww.topuniversities.com%2Fworld-university-rankings%2F2024%3Fsort_by%3Drank%26order_by%3Dasc; STYXKEY_pageVisitCount=4; _hjSession_173635=eyJpZCI6ImYyNDk3ZjUzLTcxZDMtNGM5ZC1iNDliLThhNzNjZjA3NmFhYSIsImMiOjE3NDk4Mzc1OTE1ODYsInMiOjAsInIiOjAsInNiIjowLCJzciI6MCwic2UiOjAsImZzIjowLCJzcCI6MH0=; _ga_MB43K5VF58=GS2.1.s1749837591$o1$g0$t1749837607$j44$l0$h323620473; _ga_YN0B3DGTTZ=GS2.1.s1749836134$o1$g1$t1749837607$j40$l0$h0; FPLC=LW9JAldS8LkJmGKx7KwEOlPRKz1SUMEExKWoJKkedbXiCx8K3ozWemUj6GIzX1rbLptYXg39AMUXVtYlH0%2FiAW4xaBivdM7k7fKij%2FKuZ20Fcq%2FYZbhVwoiw8MBgWA%3D%3D; _gcl_au=1.1.2037422971.1749837608; ABTastySession=mrasn=&lp=https%253A%252F%252Fwww.topuniversities.com%252Fworld-university-rankings%252F2024%253Fsort_by%253Drank%2526order_by%253Dasc; ABTasty=uid=q374twce7k5rtp91&fst=1749837608048&pst=-1&cst=1749837608048&ns=1&pvt=1&pvis=1&th=; _fbp=fb.1.1749837608174.49526267910843258; mp_97b5852b52a7f69155826eee6cdf165e_mixpanel=%7B%22distinct_id%22%3A%22%24device%3Ac0fc6087-5e73-487a-8051-062130efb833%22%2C%22%24device_id%22%3A%22c0fc6087-5e73-487a-8051-062130efb833%22%2C%22%24initial_referrer%22%3A%22https%3A%2F%2Flse-dsi.github.io%2F%22%2C%22%24initial_referring_domain%22%3A%22lse-dsi.github.io%22%2C%22__mps%22%3A%7B%7D%2C%22__mpso%22%3A%7B%22%24initial_referrer%22%3A%22https%3A%2F%2Flse-dsi.github.io%2F%22%2C%22%24initial_referring_domain%22%3A%22lse-dsi.github.io%22%7D%2C%22__mpus%22%3A%7B%7D%2C%22__mpa%22%3A%7B%7D%2C%22__mpu%22%3A%7B%7D%2C%22__mpr%22%3A%5B%5D%2C%22__mpap%22%3A%5B%5D%2C%22Drupal%20User%20ID%22%3A%22TU-1749835256398-84716957%22%2C%22Member%20ID%22%3A%22n%2Fa%22%2C%22User%20Login%20Status%22%3A%22loggedOut%22%2C%22Profile%20Type%22%3A%22%22%2C%22Node%20ID%22%3A%223897789%22%2C%22__timers%22%3A%7B%22Page%20View%22%3A1749837590203%7D%7D; _cfuvid=VkghTCVZxDutMiRur8u9NLCBT4JrllSLx.2abAJ7bx8-1749837964560-0.0.1.1-604800000'
}

response = requests.request("GET", url, headers=headers, data=payload)

# Save the JSON object to a file
# Opens (or creates) a file called qs_ranking.json in write mode ('w'), which overwrites any existing content.
# f is the file handle used to write to this file.

with open('qs_ranking.json', 'w') as f:
    # pure text
    f.write(response.text)
# response.text is the raw text of the HTTP response (usually JSON, as a string).
# This line writes that text into the file as-is.

### Inspect Initial Results

In [6]:
results = response.json()['score_nodes']
pprint(results[0])

{'advanced_profile': 0,
 'city': 'Cambridge',
 'core_id': '410',
 'country': 'United States',
 'dagger': False,
 'isShortlisted': 0,
 'logo': 'https://www.topuniversities.com/sites/default/files/massachusetts-institute-of-technology-mit_410_medium.jpg',
 'more_info': [{'label': 'International Fees', 'value': ''},
               {'label': 'Scholarship', 'value': ''},
               {'label': 'Student Mix', 'value': ''},
               {'label': 'English Tests', 'value': ''},
               {'label': 'Academic Tests', 'value': ''}],
 'nid': '294850',
 'overall_score': '100',
 'path': '/universities/massachusetts-institute-technology-mit',
 'rank': '1',
 'rank_display': '1',
 'redact': False,
 'region': 'North America',
 'score_nid': '3919722',
 'scores': {'Employability': [{'indicator_id': '77',
                               'indicator_name': 'Employer Reputation',
                               'rank': '2',
                               'score': '100'},
                              {'indicator_id': '3819456',
                               'indicator_name': 'Employment Outcomes',
                               'rank': '4',
                               'score': '100'}],
            'Global Engagement': [{'indicator_id': '14',
                                   'indicator_name': 'International Student '
                                                     'Ratio',
                                   'rank': '128',
                                   'score': '88.2'},
                                  {'indicator_id': '15',
                                   'indicator_name': 'International Research '
                                                     'Network',
                                   'rank': '58',
                                   'score': '94.3'},
                                  {'indicator_id': '18',
                                   'indicator_name': 'International Faculty '
                                                     'Ratio',
                                   'rank': '56',
                                   'score': '100'}],
            'Learning Experience': [{'indicator_id': '36',
                                     'indicator_name': 'Faculty Student Ratio',
                                     'rank': '16',
                                     'score': '100'}],
            'Research & Discovery': [{'indicator_id': '76',
                                      'indicator_name': 'Academic Reputation',
                                      'rank': '4',
                                      'score': '100'},
                                     {'indicator_id': '73',
                                      'indicator_name': 'Citations per Faculty',
                                      'rank': '4',
                                      'score': '100'}],
            'Sustainability': [{'indicator_id': '3897497',
                                'indicator_name': 'Sustainability Score',
                                'rank': '51',
                                'score': '95.2'}]},
 'stars': '',
 'title': 'Massachusetts Institute of Technology (MIT)'}

### Unpack Key Scores for Each University

#### Filter Out Only the Desired Columns

In [7]:
def filter_df(df=results):
    results_df = pd.json_normalize(df)
    results_df.columns = results_df.columns.str.lower().str.replace('.', '_').str.replace(' ', '_')
    base_cols = [
        'score_nid',
        'nid',
        'core_id',
        'title',
        'path',
        'region',
        'country',
        'city',
        'overall_score',
        'rank',
    ]
    score_cols = results_df.filter(regex='scores').columns.tolist()
    columns_of_interest = base_cols + score_cols
    filtered_df = results_df[columns_of_interest]
    return filtered_df


filtered_df = filter_df(results)
filtered_df.head()

,score_nid,nid,core_id,title,path,region,country,city,overall_score,rank,scores_research_&_discovery,scores_learning_experience,scores_employability,scores_global_engagement,scores_sustainability
0,3919722,294850,410,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,North America,United States,Cambridge,100,1,"[{'indicator_id': '76', 'indicator_name': 'Aca...","[{'indicator_id': '36', 'indicator_name': 'Fac...","[{'indicator_id': '77', 'indicator_name': 'Emp...","[{'indicator_id': '14', 'indicator_name': 'Int...","[{'indicator_id': '3897497', 'indicator_name':..."
1,3919723,294561,95,University of Cambridge,/universities/university-cambridge,Europe,United Kingdom,Cambridge,99.2,2,"[{'indicator_id': '76', 'indicator_name': 'Aca...","[{'indicator_id': '36', 'indicator_name': 'Fac...","[{'indicator_id': '77', 'indicator_name': 'Emp...","[{'indicator_id': '14', 'indicator_name': 'Int...","[{'indicator_id': '3897497', 'indicator_name':..."
2,3919724,294654,478,University of Oxford,/universities/university-oxford,Europe,United Kingdom,Oxford,98.9,3,"[{'indicator_id': '76', 'indicator_name': 'Aca...","[{'indicator_id': '36', 'indicator_name': 'Fac...","[{'indicator_id': '77', 'indicator_name': 'Emp...","[{'indicator_id': '14', 'indicator_name': 'Int...","[{'indicator_id': '3897497', 'indicator_name':..."
3,3919725,294270,253,Harvard University,/universities/harvard-university,North America,United States,Cambridge,98.3,4,"[{'indicator_id': '76', 'indicator_name': 'Aca...","[{'indicator_id': '36', 'indicator_name': 'Fac...","[{'indicator_id': '77', 'indicator_name': 'Emp...","[{'indicator_id': '14', 'indicator_name': 'Int...","[{'indicator_id': '3897497', 'indicator_name':..."
4,3919726,297282,573,Stanford University,/universities/stanford-university,North America,United States,Stanford,98.1,5,"[{'indicator_id': '76', 'indicator_name': 'Aca...","[{'indicator_id': '36', 'indicator_name': 'Fac...","[{'indicator_id': '77', 'indicator_name': 'Emp...","[{'indicator_id': '14', 'indicator_name': 'Int...","[{'indicator_id': '3897497', 'indicator_name':..."

#### Create A Dataframe that Unpacks the Nested JSON into a Dataframe Containing Key Scores for Each University

In [8]:
def explode_and_pivot_scores(filtered_df):
    adjusted_df = filtered_df.copy()
    score_cols = filtered_df.filter(regex='scores').columns.tolist()
    for col in score_cols:
        # Explode that column containing lists of dictionaries
        df_expanded = adjusted_df.explode(col)
        # Normalize the exploded column
        normalized = pd.json_normalize(df_expanded[col]).add_suffix(f"_{col}")
        # Join the normalized DataFrame back to the exploded DataFrame
        df_long = df_expanded.drop(columns=col).reset_index().join(normalized).drop(columns='index')
        # Change into wide data
        cols_to_keep = list(df_expanded.columns[~df_expanded.columns.str.contains(f'{col}')])
        df_wide = df_long.pivot_table(index='core_id', columns=f"indicator_name_{col}", values=f'score_{col}', aggfunc='first').reset_index()
        # Ensure 'core_id' is the same dtype in both DataFrames before joining
        adjusted_df['core_id'] = adjusted_df['core_id'].astype(str)
        df_wide['core_id'] = df_wide['core_id'].astype(str)
        adjusted_df = adjusted_df[cols_to_keep].merge(df_wide, on='core_id', how='left')
    
    # Nromalize the column names to be lowercase and replace spaces with underscores
    adjusted_df.columns = adjusted_df.columns.str.lower().str.replace(' ', '_')
    return adjusted_df




explode_and_pivot_scores(filtered_df).head(4)

,score_nid,nid,core_id,title,path,region,country,city,overall_score,rank,academic_reputation,citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,international_research_network,international_student_ratio,sustainability_score
0,3919722,294850,410,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,North America,United States,Cambridge,100,1,100,100,100,100,100,100,94.3,88.2,95.2
1,3919723,294561,95,University of Cambridge,/universities/university-cambridge,Europe,United Kingdom,Cambridge,99.2,2,100,92.3,100,100,100,100,99.9,95.8,97.3
2,3919724,294654,478,University of Oxford,/universities/university-oxford,Europe,United Kingdom,Oxford,98.9,3,100,90.6,100,100,100,98.2,100,98.2,97.8
3,3919725,294270,253,Harvard University,/universities/harvard-university,North America,United States,Cambridge,98.3,4,100,100,98.3,100,100,84.6,100,66.8,96.7

## Repeat the Process for Multiple Pages

In [ ]:
def get_uni_scores(n_pages = 4, params={'items_per_page': 100, 'current_page': 1}):
  # set the URL for the QS rankings API endpoint that has the indicators nested within it.
  url = "https://www.topuniversities.com/rankings/endpoint?nid=3897789&tab=indicators&sort_by=rank&order_by=asc"
  payload = {} # Payload for the request, can be empty if no additional data is needed
  headers = { # HTTP headers to be sent with the request
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'if-none-match': 'W/"1749837588"',
    'priority': 'u=1, i',
    'referer': 'https://www.topuniversities.com/world-university-rankings/2024?sort_by=rank&order_by=asc',
    'sec-ch-ua': '"Google Chrome";v="137", "Chromium";v="137", "Not/A)Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36',
    'x-requested-with': 'XMLHttpRequest',
    'Cookie': 'STYXKEY-testi-loc=GB; STYXKEY-testi-loc_name=United%20Kingdom; FPID=FPID2.2.WC8LJ2I3yYBvpZyM0VKzYsQHzSQsQa3BrdoSk3rg2RU%3D.1749578131; cookie-agreed-version=1.0.0; cookie-agreed-categories=[%22necessary%22%2C%22analytics%22]; cookie-agreed=2; _hjSessionUser_173635=eyJpZCI6ImIyMTliODY3LTM3YmMtNTUxNy1iMDZlLTFhMmRmMmQyMmU5NiIsImNyZWF0ZWQiOjE3NDk1NzgyNTg2ODMsImV4aXN0aW5nIjp0cnVlfQ==; _cfuvid=wx.E4XqGoDisDc39JELN4zvF_Asi0nVxgbek_nfMpuA-1749835251386-0.0.1.1-604800000; STYXKEY-globaluserUUID=TU-1749835256398-84716957; STYXKEY-last_univ_page_datalayer={"event":"sign_up","university_name":"Yale University","university_type":"basic","university_international_students":"3528","university_ratio":"2","university_research":"Very High","university_scholarships":"yes","university_size":"L","university_status":"Private","university_tuition":"n/a","university_page_type":"Main Profile","university_category":"Primary","university_program_name":"Main Profile"}; _ga_5D0D56Z1Z9=GS2.1.s1749835413$o1$g0$t1749835424$j49$l0$h0; STYXKEY_current_pageURL=https%3A%2F%2Fwww.topuniversities.com%2Fworld-university-rankings%2F2024%3Fsort_by%3Drank%26order_by%3Dasc; STYXKEY_pageVisitCount=4; _hjSession_173635=eyJpZCI6ImYyNDk3ZjUzLTcxZDMtNGM5ZC1iNDliLThhNzNjZjA3NmFhYSIsImMiOjE3NDk4Mzc1OTE1ODYsInMiOjAsInIiOjAsInNiIjowLCJzciI6MCwic2UiOjAsImZzIjowLCJzcCI6MH0=; _ga_MB43K5VF58=GS2.1.s1749837591$o1$g0$t1749837607$j44$l0$h323620473; _ga_YN0B3DGTTZ=GS2.1.s1749836134$o1$g1$t1749837607$j40$l0$h0; FPLC=LW9JAldS8LkJmGKx7KwEOlPRKz1SUMEExKWoJKkedbXiCx8K3ozWemUj6GIzX1rbLptYXg39AMUXVtYlH0%2FiAW4xaBivdM7k7fKij%2FKuZ20Fcq%2FYZbhVwoiw8MBgWA%3D%3D; _gcl_au=1.1.2037422971.1749837608; ABTastySession=mrasn=&lp=https%253A%252F%252Fwww.topuniversities.com%252Fworld-university-rankings%252F2024%253Fsort_by%253Drank%2526order_by%253Dasc; ABTasty=uid=q374twce7k5rtp91&fst=1749837608048&pst=-1&cst=1749837608048&ns=1&pvt=1&pvis=1&th=; _fbp=fb.1.1749837608174.49526267910843258; mp_97b5852b52a7f69155826eee6cdf165e_mixpanel=%7B%22distinct_id%22%3A%22%24device%3Ac0fc6087-5e73-487a-8051-062130efb833%22%2C%22%24device_id%22%3A%22c0fc6087-5e73-487a-8051-062130efb833%22%2C%22%24initial_referrer%22%3A%22https%3A%2F%2Flse-dsi.github.io%2F%22%2C%22%24initial_referring_domain%22%3A%22lse-dsi.github.io%22%2C%22__mps%22%3A%7B%7D%2C%22__mpso%22%3A%7B%22%24initial_referrer%22%3A%22https%3A%2F%2Flse-dsi.github.io%2F%22%2C%22%24initial_referring_domain%22%3A%22lse-dsi.github.io%22%7D%2C%22__mpus%22%3A%7B%7D%2C%22__mpa%22%3A%7B%7D%2C%22__mpu%22%3A%7B%7D%2C%22__mpr%22%3A%5B%5D%2C%22__mpap%22%3A%5B%5D%2C%22Drupal%20User%20ID%22%3A%22TU-1749835256398-84716957%22%2C%22Member%20ID%22%3A%22n%2Fa%22%2C%22User%20Login%20Status%22%3A%22loggedOut%22%2C%22Profile%20Type%22%3A%22%22%2C%22Node%20ID%22%3A%223897789%22%2C%22__timers%22%3A%7B%22Page%20View%22%3A1749837590203%7D%7D; _cfuvid=w0MaL4dWA8K_FwNwyNH2IHeBORgzXilJx9fcO11Th0Y-1750085784634-0.0.1.1-604800000'
  }
  all_results = [] # Initialize an empty list to store all results
  for page in range(1, n_pages + 1): # Loop through the specified number of pages
    params['current_page'] = page # Update the current page in the parameters to make the right request
    response = requests.request("GET", url, headers=headers, params=params, data=payload) # make the request
    data = response.json().get('score_nodes', []) # get the data from the response, defaulting to an empty list if 'score_nodes' is not found
    all_results.extend(data) # extend the list with the new data from the last page
    with open(f'../data/qs_ranking_{page}.json', 'w') as f:
      f.write(response.text)
  return all_results

all_results = get_uni_scores()

#### Combine the json data

In [21]:
unis = explode_and_pivot_scores(filter_df(all_results))
unis.head(5)

,score_nid,nid,core_id,title,path,region,country,city,overall_score,rank,academic_reputation,citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,international_research_network,international_student_ratio,sustainability_score
0,3919722,294850,410,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,North America,United States,Cambridge,100,1,100,100,100,100,100,100,94.3,88.2,95.2
1,3919723,294561,95,University of Cambridge,/universities/university-cambridge,Europe,United Kingdom,Cambridge,99.2,2,100,92.3,100,100,100,100,99.9,95.8,97.3
2,3919724,294654,478,University of Oxford,/universities/university-oxford,Europe,United Kingdom,Oxford,98.9,3,100,90.6,100,100,100,98.2,100,98.2,97.8
3,3919725,294270,253,Harvard University,/universities/harvard-university,North America,United States,Cambridge,98.3,4,100,100,98.3,100,100,84.6,100,66.8,96.7
4,3919726,297282,573,Stanford University,/universities/stanford-university,North America,United States,Stanford,98.1,5,100,99.9,100,100,100,99.9,95.8,51.2,94.4